.summary {
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 2px solid var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  font-size: 24px;
}

.summary__promo-wrap {
  position: relative;
  margin-top: 10px;
  margin-bottom: 14px;
}

.summary__promo {
  width: 100%;
  height: 32px;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
}

.summary__promo-list {
  margin: 0;
  margin: 10px 0;
}

.summary__invalid-code {
  display: block;
  position: absolute;
  top: 34px;
  left: 6px;
  font-size: 14px;
  color: var(--warning-color);
}

.summary__total_line-through {
  text-decoration: line-through;
}

.summary__test-codes {
  font-size: 16px;
  margin-top: 15px;
}
.summary__btn {
  margin-top: 4px;
  padding-left: 10px;
  width: 100%;
  height: 30px;
  border: 2px solid var(--main-color);
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}
.summary__btn:hover {
  background-color: var(--main-color);
}
