.product {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #0078d7;
  padding: 10px;
}

.product__img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.addBtn {
  z-index: 5;
}