.slider-container img {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.slider-container {
  display: flex;
  justify-content: center;
}


.selected-image img {
  width: 400px;
  height: 400px;
  display: block;
  margin: 0 auto;
}

.productPage {
  /* width: 100%; */
  height: 100vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}