.header_imgs {
  width: 32px;
  height: 32px;
}

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1620px;
  margin: 0 auto;
  background-color: #0078d7;
  color: #ffffff;
  font-size: 20px;
}

.header__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  text-decoration: none;
  color: #000000;
}

.header__link-cart {
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.header__count {
  position: absolute;
  top: -8px;
  right: 10px;
}
